html
head
   title Delete by ID
   body
      form(action = "/delete", method = "POST")
         div
            label(for = "id") ID: 
            input(name = "id")
         br
         br
         button(type = "submit") Delete this person
         