Doctype
html
    head
        title Hello #{name}
    body 
        h1 Hello World
        p.greetings#people Greeting from #{name}
        if(user)
            h1 Hi #{user.name}
            p you're #{user.age} years old
        div.
            sdasdsadsadsadsa dsad 
            dasdsadasdasd


        //Pug comment

        