html 
    head 
        title Person 
    body
        h3
            a(href='http://localhost:8080/create') Create new Person  
            br
            br
            a(href='http://localhost:8080/update') Update Person By ID
            br
            br
            a(href='http://localhost:8080/delete') Delete Person By ID
            br
            br
            a(href='http://localhost:8080/person') See all Persons in JSON
